@using viettours



    <aside id="bcn_widget-2" class="widget widget_breadcrumb_navxt catalyst-widget-area breadcrum_vt">
        <div class="widget-wrap">
            <div class="breadcrumbs" vocab="https://schema.org/" typeof="BreadcrumbList">
                <!-- Breadcrumb NavXT 6.6.0 -->
                <span typeof="v:Breadcrumb"><a rel="v:url" property="v:title" title="Go to Viettours Incentives and Events." href="@Url.Action("TrangChu","Home")" class="home">Trang chủ</a></span> &gt; <span typeof="v:Breadcrumb"><a rel="v:url" property="v:title" title="Go to Về Viettours." href="https://viettours.com.vn/ve-viettours/" class="post post-page">Về Viettours</a></span> &gt; <span typeof="v:Breadcrumb"><span property="v:title">Giải thưởng</span></span>
            </div>
        </div>
    </aside>
    <aside class="post-4449 page type-page status-publish hentry">
        <header class="entry-header">
            <h1 class="entry-title">Giải thưởng</h1>
        </header>

        <div class="entry-content">
            <div class="at-above-post-page addthis_tool" data-url="https://viettours.com.vn/ve-viettours/giai-thuong/"></div>

            <p style="text-align: center;">
            <a href="https://viettours.com.vn/ve-viettours/giai-thuong/attachment/giai-thuong-1/" rel="attachment wp-att-4780">
                <img class="aligncenter size-full wp-image-4780" src="~/Content/Images/giai-thuong-1.jpg" alt="giai-thuong-1" width="600" height="260" srcset="https://viettours.com.vn/wp-content/uploads/2014/07/giai-thuong-1.jpg 600w, https://viettours.com.vn/wp-content/uploads/2014/07/giai-thuong-1-300x130.jpg 300w" sizes="(max-width: 600px) 100vw, 600px"></a>
            <a href="https://viettours.com.vn/ve-viettours/giai-thuong/attachment/giai-thuong-2/" rel="attachment wp-att-4781">
                <img class="aligncenter size-full wp-image-4781" src="~/Content/Images/giai-thuong-2.jpg" alt="giai-thuong-2" width="600" height="260" srcset="https://viettours.com.vn/wp-content/uploads/2014/07/giai-thuong-2.jpg 600w, https://viettours.com.vn/wp-content/uploads/2014/07/giai-thuong-2-300x130.jpg 300w" sizes="(max-width: 600px) 100vw, 600px"></a>
            <a href="https://viettours.com.vn/ve-viettours/giai-thuong/attachment/giai-thuong-3/" rel="attachment wp-att-4783">
                <img class="aligncenter size-full wp-image-4783" src="~/Content/Images/giai-thuong-3.jpg" alt="giai-thuong-3" width="600" height="260" srcset="https://viettours.com.vn/wp-content/uploads/2014/07/giai-thuong-3.jpg 600w, https://viettours.com.vn/wp-content/uploads/2014/07/giai-thuong-3-300x130.jpg 300w" sizes="(max-width: 600px) 100vw, 600px"></a>
            </p>
            <p style="text-align: center;">
            </p>
            <p style="text-align: center;">
            </p>
            <p style="text-align: center;">
            </p>
            <p style="text-align: center;">
            </p>
            <div class="at-below-post-page addthis_tool" data-url="https://viettours.com.vn/ve-viettours/giai-thuong/"></div>
            <div style="clear:both;"></div>
        </div>

    </aside>