<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="~/Content/LoginAdmin/vendor/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/LoginAdmin/1.js"></script>
    <link rel="stylesheet" href="~/Content/LoginAdmin/vendor/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/LoginAdmin/vendor/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/LoginAdmin/1.css" />
</head>
<body>
    <div id="login">
        @RenderBody()
    </div>
</body>
</html>
