@using viettours

<nav id="navbar-1" class="clearfix" role="navigation" style="width:100%;height:100%;">
    <div class="main-menu">
        <ul class="menu-list">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Tour trong nước</a>
                <ul class="sub-menu">
                    <li><a href="#">Hà Nội và miền Bắc</a></li>
                    <li><a href="#">Huế – Hội An và miền Trung</a></li>
                    <li><a href="#">TPHCM và miền Nam</a></li>
                    <li><a href="#">Các tour liên tuyến khác</a></li>
                </ul>
            </li>
            <li><a href="#">Tour nước ngoài</a>
                <ul class="sub-menu">
                    <li>
                        <a href="#">Châu Phi »</a>
                        <ul class="sub-menu">
                            <li><a href="#">Ai Cập</a></li>
                            <li><a href="#">Kenya</a></li>
                            <li><a href="#">Morocco</a></li>
                            <li><a href="#">Nam Phi</a></li>
                            <li><a href="#">Tanzania</a></li>
                            <li><a href="#">Tunisia</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Châu Mỹ<span> »</span></a>
                        <ul class="sub-menu">
                            <li><a href="">Argentina</a></li>
                            <li><a href="">Brazil</a></li>
                            <li><a href="">Canada</a></li>
                            <li><a href="">Chile</a></li>
                            <li><a href="">Cuba</a></li>
                            <li><a href="">Hoa kỳ</a></li>
                            <li><a href="">Mexico</a></li>
                            <li><a href="">Paraquay</a></li>
                            <li><a href="">Peru</a></li>
                            <li><a href="">Venezuela</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/">Châu Á »</a>
                        <ul class="sub-menu">
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/cac-tieu-vuong-quoc-a-rap-thong-nhat/">Các tiểu V.Q Ả Rập</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/bhutan/">Bhutan</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/brunei/">Brunei</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/campuchia/">Campuchia</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/dai-loan/">Đài Loan</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/han-quoc/">Hàn Quốc</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/hong-kong-ma-cao/">Hồng Kông – Ma Cao</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/philippines/">Philippines</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/indonesia/">Indonesia</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/israel/">Israel</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/jordan/">Jordan</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/lao/">Lào</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/malaysia/">Malaysia</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/maldives/">Maldives</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/mong-co/">Mông Cổ</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/myanmar/">Myanmar</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/an-do-nepal/">Nepal</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/nhat/">Nhật</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/qatar/">Qatar</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/srilanka/">Srilanka</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/singapore/">Singapore</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/thai-lan/">Thái Lan</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/tay-tang/">Tây Tạng</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/trung-quoc/">Trung Quốc</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-a/uzbekistan/">Uzbekistan</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-au/">Châu Âu »</a>
                        <ul class="sub-menu">
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-au/anh/">Anh</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-au/ao/">Áo</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-au/ba-lan/">Ba Lan</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-au/bi/">Bỉ</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-au/bo-dao-nha/">Bồ Đào Nha</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-au/bulgaria/">Bulgaria</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-au/cong-hoa-sec/">Cộng Hòa Séc</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-au/croatia/">Croatia</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-au/ha-lan/">Hà Lan</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-au/hungary-chau-au/">Hungary</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-au/hy-lap/">Hy Lạp</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-au/phan-lan/">Phần Lan</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-au/luxemburg/">Luxemburg</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-au/monaco/">Monaco</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-au/na-uy/">Na Uy</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-au/nga/">Nga</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-au/slovakia-chau-au/">Slovakia</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-au/vatican/">Vatican</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-uc/">Châu Úc »</a>
                        <ul class="sub-menu">
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-uc/new-zealand/">New Zealand</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-uc/papua-new-guinea/">Papua New Guinea</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/chau-uc/uc/">Úc</a></li>
                        </ul>
                    </li>
                    <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/tour-cruise/">Tour Cruise</a></li>
                    <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/tour-mao-hiem/">Tour Mạo hiểm</a></li>
                    <li>
                        <a href="https://viettours.com.vn/tours-nuoc-ngoai/tour-hanh-huong/">Tour Hành Hương »</a>
                        <ul class="sub-menu">
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/tour-hanh-huong/tour-phat-giao/">Tours Phật giáo</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/tour-hanh-huong/tour-hoi-giao/">Tour Hồi giáo</a></li>
                            <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/tour-hanh-huong/tour-thien-chua-giao/">Tours Thiên Chúa giáo</a></li>
                        </ul>
                    </li>
                    <li><a href="https://viettours.com.vn/tours-nuoc-ngoai/free-and-easy-tour/">Free and Easy Tour</a></li>
                </ul>
            </li>
            <li><a href="#">Team building</a></li>
            <li><a href="#">Tổ chức sự kiên</a>
                <ul class="sub-menu">
                    <li><a href="https://viettours.com.vn/category/to-chuc-su-kien/trong-nuoc/">Trong nước</a></li>
                    <li><a href="https://viettours.com.vn/category/to-chuc-su-kien/nuoc-ngoai-to-chuc-su-kien/">Nước ngoài</a></li>
                </ul>
            </li>
            <li><a href="#">Về viettours</a>
                <ul class="sub-menu">
                    <li><a href="https://viettours.com.vn/ve-viettours/lich-su/">Lịch Sử</a></li>
                    <li><a href="https://viettours.com.vn/ve-viettours/giai-thuong/">Giải thưởng</a></li>
                    <li><a href="https://viettours.com.vn/ve-viettours/khach-hang/">Khách hàng</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<style>
   .menu-list li {
        float: left;
        position: relative;
    }

        .menu-list li a {
            color: #fff;
            text-transform: uppercase;
            padding: 11px 34px;
            display: block;
            text-decoration: none;
        }

    .menu-list > li:hover > a {
       @* background: #ffd800;*@
        color:#F8CE0A;
        transition: all 0.25s;
    }

    .menu-list .sub-menu {
        position: absolute;
        width: 110%;
        z-index: 1;
        left: 100%;
        top: 0px;
        display: none;
        background-color: #2A8C94;
    }

    .menu-list > li > .sub-menu {
        top: 107%;
        left: 0px;
    }

    .menu-list .sub-menu li {
        float: none;
    }

        .menu-list .sub-menu li a {
            font-size: 12px;
            /* padding: 18px 30px 19px; */
            padding: 12px;
            line-height: 17px;
            overflow: hidden;
            border-top: 1px solid #fff;
            border-right:1px solid #fff;
            border-left:1px solid #fff;
           
        }

    .menu-list li:hover > ul.sub-menu {
        display: block;
    }

    .menu-list ul.sub-menu li:hover > a {
       
        background-color: #0dbddf;
    }
</style>
