@using viettours


<aside id="nav_menu-4" class="widget widget_nav_menu">
    <div class="widget-wrap">
        <h4 class="widgettitle">Cần biết</h4>
        <div class="menu-can-biet-container">
            <ul id="menu-can-biet" class="menu">
                <li><a href="@Url.Action("ThuTucVisa","Home")">Thủ tục Visa</a></li>
                <li><a target="_blank" href="#">Tiền tệ</a></li>
                <li><a target="_blank" href="#">Múi giờ</a></li>
                <li><a target="_blank" href="#">Thời tiết</a></li>
            </ul>
        </div>
    </div>
</aside>
<aside id="text-54" class="widget widget_text">
    <div class="widget-wrap">
        <h4 class="widgettitle" style="color:#fff">Hỗ trợ trực tuyến</h4>
        <div class="textwidget">
            <div class="homepage_chat_box">
                <p class="chat_item">
                    Tour trong nước :
                    <br>
                    Mr. Văn Phước <br>
                    <a href="#"><img src="~/Content/HomeTestLayout/Images/chatbutton_20px.png" width="54" height="20"></a>
                    <a title="Hot Line" href="ymsgr:sendim?outboundcare.lienbang" rel="nofollow"></a><a title="Hot Line" href="ymsgr:sendim?phuoc.hovan" rel="nofollow">
                    @*<img style="margin:-15px 0 0 20px;" border="0" align="middle" src="https://opi.yahoo.com/online?u=phuoc.hovan&amp;m=g&amp;t=1"></a>*@
                </p>
                <p class="chat_item">
                    Tour nước ngoài :
                    <br>
                    Ms. Thu Hiền<br>
                    <a href="#"><img src="~/Content/HomeTestLayout/Images/chatbutton_20px.png" width="54" height="20"></a>
                    @*<a title="Hot Line" href="ymsgr:sendim?thuhien2122" rel="nofollow">
                        <img style="margin:-15px 0 0 20px;" border="0" align="middle" src="https://opi.yahoo.com/online?u=thuhien2122&amp;m=g&amp;t=1">
                    </a>*@
                </p>
                <p class="chat_item">
                    Vé Máy Bay :
                    <br>
                    Phòng vé Viettours<br>
                    <a href="#"><img src="../Content/HomeTestLayout/Images/chatbutton_20px.png" width="54" height="20"></a>
                   @* <a title="Hot Line" href="#" rel="nofollow">
                        <img style="margin:-15px 0 0 20px;" border="0" align="middle" src="https://opi.yahoo.com/online?u=honghanhnguyen298&amp;m=g&amp;t=1">
                    </a>*@
                </p>
                <p class="chat_item">
                    Thuê xe : <br>
                    090 776 2222<br>
                    Mr. Quang  <br>
                </p>
            </div>
        </div>
    </div>
</aside>