@using viettours.Models
@{ 
    var db = new viettoursDBEntities();
    List<SelectListItem> day = new List<SelectListItem>() {
                new SelectListItem() { Value="1",Text="1 ngày" },
                new SelectListItem() { Value = "4", Text = "2-4 ngày" },
                new SelectListItem() { Value = "7", Text = "5-7 ngày" },
                new SelectListItem() { Value = "10", Text = "8-10 ngày" },
                new SelectListItem() { Value = "11", Text = "trên 10 ngày" },
            };
    ViewBag.Searchday = new SelectList(day, "Value", "Text");
    var a = db.danhmuccon_select_all().Where(x => x.loaidm == 0).ToList();
    ViewBag.Searchmenu = new SelectList(a, "id", "name");
}
<div class="wgs_wrapper">
    <div id="___gcse_0">
        <div class="gsc-control-cse gsc-control-cse-vi">
            <div class="gsc-control-wrapper-cse" dir="ltr">
                <div style="width: 90%;background-color:#fff;padding:10px 20px 10px 10px;margin-bottom: 10px;border-radius: 5px;" class="gsc-search-box gsc-search-box-tools">
                    <table cellspacing="0" cellpadding="0" class="gsc-search-box" style="width:100%;">
                        <tbody>
                            <tr>
                                <td class="gsc-input" style="width:65%">
                                    <div class="gsc-input-box" id="gsc-iw-id1">
                                        <table cellspacing="0" cellpadding="0" id="gs_id50" class="gstl_50 gsc-input" style="width: 100%; padding: 0px;">
                                            <tbody>
                                                <tr>
                                                    <td id="gs_tti50" class="gsib_a">
                                                        <input autocomplete="off" type="text" size="10" class="gsc-input" name="search" title="tìm kiếm" id="gsc-i-id1" dir="ltr" spellcheck="false" style="width: 100%; padding: 0px; border: none; margin: 0px; height: auto; outline: none;">
                                                    </td>
                                                    <td class="gsib_b">
                                                        <div class="gsst_b" id="gs_st50" dir="ltr">
                                                            <a class="gsst_a" href="javascript:void(0)" title="Xóa nội dung trong hộp tìm kiếm" role="button" style="display: none;"><span class="gscb_a" id="gs_cb50" aria-hidden="true">×</span></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                                <td class="gsc-search-button" style="float: right;width: 100%;background-color: #387fe9;">
                                
                                    <button class="" style="width: 100%; background-color: #4D90FE; border: 1px solid #fff; padding: 3px;"><svg width="13" height="13" viewBox="0 0 13 13"><title>tìm kiếm</title><path d="m4.8495 7.8226c0.82666 0 1.5262-0.29146 2.0985-0.87438 0.57232-0.58292 0.86378-1.2877 0.87438-2.1144 0.010599-0.82666-0.28086-1.5262-0.87438-2.0985-0.59352-0.57232-1.293-0.86378-2.0985-0.87438-0.8055-0.010599-1.5103 0.28086-2.1144 0.87438-0.60414 0.59352-0.8956 1.293-0.87438 2.0985 0.021197 0.8055 0.31266 1.5103 0.87438 2.1144 0.56172 0.60414 1.2665 0.8956 2.1144 0.87438zm4.4695 0.2115 3.681 3.6819-1.259 1.284-3.6817-3.7 0.0019784-0.69479-0.090043-0.098846c-0.87973 0.76087-1.92 1.1413-3.1207 1.1413-1.3553 0-2.5025-0.46363-3.4417-1.3909s-1.4088-2.0686-1.4088-3.4239c0-1.3553 0.4696-2.4966 1.4088-3.4239 0.9392-0.92727 2.0864-1.3969 3.4417-1.4088 1.3553-0.011889 2.4906 0.45771 3.406 1.4088 0.9154 0.95107 1.379 2.0924 1.3909 3.4239 0 1.2126-0.38043 2.2588-1.1413 3.1385l0.098834 0.090049z"></path></svg></button></td>
                                <td class="gsc-clear-button"><div class="gsc-clear-button" title="xóa các kết quả">&nbsp;</div></td>
                            </tr>
                        </tbody>
                    </table>
                </div><div class="gsc-results-wrapper-nooverlay"><div class="gsc-positioningWrapper"><div class="gsc-tabsAreaInvisible"><span class="gs-spacer"> </span></div></div><div class="gsc-positioningWrapper"><div class="gsc-tabsAreaInvisible"></div></div><div class="gsc-above-wrapper-area-invisible"><table cellspacing="0" cellpadding="0" class="gsc-above-wrapper-area-container"><tbody><tr><td class="gsc-result-info-container"><div class="gsc-result-info-invisible"></div></td></tr></tbody></table></div><div class="gsc-adBlockInvisible"></div><div class="gsc-wrapper"><div class="gsc-adBlockInvisible"></div><div class="gsc-resultsbox-invisible"><div class="gsc-resultsRoot gsc-tabData gsc-tabdActive"><div><div class="gsc-expansionArea"></div></div></div></div></div></div>
            </div>
        </div>
    </div>
</div>

<aside id="text-15" class="">
    <div class="widget-wrap">
        <h4 class="widgettitle">Tìm kiếm Tours</h4>
        <div class="textwidget">
            <div class="timkiem">
                <form action="../toursss/search" method="get" class="">

                    <div>
                        <div class="s_country_title">
                            Danh mục
                        </div>
                        <div class="s_country">
                            <span class="quocgia">
                               @Html.DropDownList("Searchmenu" ,null,"",new {@class = "js-wpv-filter-trigger" })
                               @* <select name="cacquocgia" class="js-wpv-filter-trigger">
                                    <option selected="selected" value="0"></option>
                                    <option value="ai-cap">Ai Cập</option>
                                    <option value="an-do-nepal-2">Ấn Độ – Nepal</option>
                                    <option value="anh">Anh</option>
                                    <option value="ao">Áo</option>
                                    <option value="argentina">Argentina</option>
                                    <option value="ba-lan">Ba Lan</option>
                                    <option value="bhutal">Bhutan</option>
                                    <option value="bi">Bỉ</option>
                                    <option value="bo-dao-nha">Bồ Đào Nha</option>
                                    <option value="brazil">Brazil</option>
                                    <option value="brunei">Brunei</option>
                                    <option value="bulgaria">Bulgaria</option>
                                </select>*@
                            </span>
                        </div>
                        <div class="s_stay_title">
                            Thời gian Tours
                        </div>
                        <div class="s_stay">
                            @Html.DropDownList("Searchday",null,"",new { style="width:142px;"})
                            @*<select id="sidebar_tg" name="" style="" class="">
                                <option value="0" selected="selected" class="">--chọn--</option>
                                <option value="1" class="">1 đến 2 ngày</option>
                                <option value="2" class="">2 đến 4 ngày</option>
                                <option value="3" class="">5 đến 7 ngày</option>
                                <option value="4" class="">8 đến 10 ngày</option>
                                <option value="5" class="">Trên 10 ngày</option>
                            </select>*@
                        </div>
                        <div class="search_tour" align="center">
                            <input type="submit" class="" name="" value="Tìm kiếm">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</aside>
<aside id="nav_menu-3" class="widget widget_nav_menu">
    <div class="widget-wrap">
        <h4 class="widgettitle">Điểm đến ưa thích</h4>
        <div class="menu-diem-den-yeu-thich-container">
            <ul id="menu-diem-den-yeu-thich" class="menu">
                <li><a href="#">Indonesia</a></li>
                <li><a href="#">Singapore</a></li>
                <li><a href="#">Thái Lan</a></li>
                <li><a href="#">Thổ Nhĩ Kỳ</a></li>
                <li><a href="#">Ý</a></li>
                <li><a href="#">Hoa kỳ</a></li>
                <li><a href="#">Nam Phi</a></li>
                <li><a href="#">Úc</a></li>
            </ul>
        </div>
    </div>
</aside>
<aside id="text-50" class="widget widget_text">
    <div class="widget-wrap">
        <div class="textwidget"><a href="#"><img src="~/Content/HomeTestLayout/Images/le-hoi-viet-nam1.jpg" width="180" height="150"></a></div>
    </div>
</aside>


<aside id="text-51" class="widget widget_text">
    <div class="widget-wrap">
        <div class="textwidget"><a href="#"><img src="~/Content/HomeTestLayout/Images/le-hoi-quoc-te1.jpg" width="180" height="150"></a></div>
    </div>
</aside>