
@{
    ViewBag.Title = "ChinhSachBaoMat";
    Layout = "~/Views/Layout/HomeTestLayout.cshtml";
}

@section menulink{
    <aside id="bcn_widget-2" class="widget widget_breadcrumb_navxt catalyst-widget-area breadcrum_vt" style="margin-top:10px;">
        <div class="widget-wrap">
            <div class="breadcrumbs" vocab="https://schema.org/" typeof="BreadcrumbList">
               
                <span typeof="v:Breadcrumb"><a rel="v:url" property="v:title" title="Go to Viettours Incentives and Events." href="https://viettours.com.vn" class="home">Trang chủ</a></span> &gt; <span typeof="v:Breadcrumb"><span property="v:title">Chính sách bảo mật</span></span>
            </div>
        </div>
    </aside>
}
<aside class="post-185 page type-page status-publish hentry">

    <header class="entry-header">
        <h1 class="entry-title" style="font-weight: 600; font-weight: 600; font-size: 14px; margin-top: -20px; color: #d40505;">Chính sách bảo mật</h1>

    </header>
    <div class="entry-content">
        <div class="at-above-post-page addthis_tool" ></div><p style="text-align: center;"><strong style="font-weight:600;">CHÍNH SÁCH BẢO MẬT CỦA VIETTOURS</strong></p>
        <p style="text-align: justify;"><strong style="font-weight:600;">Mối quan hệ với khách hàng</strong></p>
        <p style="text-align: justify;">Với Viettours, chúng tôi muốn tự xem mình là một công ty của khách hàng hơn là một công ty du lịch. Chúng tôi luôn cố gắng hết sức để chia sẻ những kinh nghiệm du lịch của mình với du khách. Có thể thấy rằng, càng hiểu hơn về khách hàng, chúng tôi càng dễ dàng chia sẻ kinh nghiệm và phục vụ đúng yêu cầu của khách. Theo kế hoạch đã lên cho chuyến đi của Quý khách, chúng tôi cần hỏi về những thông tin bắt buộc hay những thông tin tùy chọn trong mẫu đơn F.I.T Planner; về phần mình, chúng tôi cam kết sẽ bảo vệ những thông tin này và bảo đảm tính bảo mật. Chúng tôi cũng cam kết sẽ không bán những thông tin này cho bất cứ ai.</p>
        <p style="text-align: justify;"><strong style="font-weight:600;">Chúng tôi hỏi để làm gì và tại sao</strong></p>
        <p style="text-align: justify;">Quý khách có thể đặt một chuyến đi du lịch hay đặt phòng khách sạn bằng cách liên lạc với đội ngũ tư vấn du lịch của công ty hoặc thông qua website của chúng tôi. Khi đó, chúng tôi sẽ yêu cầu Quý khách cung cấp những thông tin cơ bản (như họ tên, số điện thoại, số thẻ tín dụng và ngày hết hạn) để chúng tôi có thể nhận diện, liên lạc và thực hiện yêu cầu của Quý khách. Chúng tôi có thể cũng cần cả giới tính và độ tuổi của quý khách cho mục đích nhận dạng hoặc đơn xin thị thực Việt Nam. Tuy nhiên, đôi khi chúng tôi cũng cần có nhiều hơn những thông tin đã yêu cầu cho việc đặt phòng thông thường để chúng tôi có thể đề nghị cho Quý khách những dịch vụ tốt hơn. Bên dưới là chi tiết về những thông tin chúng tôi có thể yêu cầu Quý khách cung cấp thêm:</p>
        <ul style="margin-left: 20px;">
            <li style="text-align: justify;"><strong style="font-weight:600;">Những yêu cầu về ăn uống</strong>: chúng tôi hiểu rằng nhiều người thích hoặc yêu cầu được có những bữa ăn theo một tiêu chuẩn nhất định. Chúng tôi luôn cố gắng đáp ứng những yêu cầu đó tốt nhất khi có thể. Để thỏa mãn nhu cầu này, những yêu cầu cần được ghi nhận trong việc đặt phòng của Quý khách. Những thông tin này sẽ được cung cấp cho hướng dẫn viên của Viettours – những người sẽ trực tiếp liên lạc với các nhà hàng, khách sạn để bảo đảm rằng những yêu cầu của Quý khách sẽ được đáp ứng.</li>
            <li style="text-align: justify;"><strong style="font-weight:600;">Chi tiết về thể trạng và sức khỏe:</strong> chúng tôi cần những thông tin về giới tính, độ tuổi, cân nặng, chiều cao cũng như sức khỏe nói chung để chúng tôi có thể cung cấp các thiết bị phù hợp để đảm bảo sức khỏe và sự an toàn của Quý khách. Điều này đặc biệt quan trọng đối với những chương trình tour bằng xe đạp của chúng tôi.</li>
            <li style="text-align: justify;"><strong style="font-weight:600;">Thông tin về chuyến bay và hộ chiếu:</strong> chúng tôi yêu cầu thông tin về chuyến bay để có thể cung cấp cho Quý khách những dịch vụ đưa đón sân bay cần thiết và/hoặc để đảm bảo rằng Quý khách có thể đến sân bay đúng giờ. Đối với một số chuyến đi, chúng tôi yêu cầu thông tin về hộ chiếu để cung cấp cho những nhà cung cấp địa phương khi được yêu cầu (khách sạn hoặc tàu hay các công ty bảo hiểm) hoặc để tạo thuận lợi cho Quý khách trong việc di chuyển khi đi cùng chúng tôi.</li>
            <li style="text-align: justify;"><strong style="font-weight:600;">Thông tin nghề nghiệp:</strong> hầu như tất cả các khách du lịch đều được yêu cầu phải có thị thực hợp lệ để vào Việt Nam, Lào, Campuchia (đối với khách mang quốc tịch nước ngoài). Đối với du khách Việt Nam đi nước ngoài, các yêu cầu về thị thực nhập các nước phát triển rất chi tiết. Chúng tôi phải hỏi Quý khách về nghề nghiệp, mức lương bổng hoặc một số thông tin khác cần thiết cho việc làm thị thực.</li>
            <li style="text-align: justify;"><strong style="font-weight:600;">Thông tin về chúng tôi:</strong> chúng tôi luôn hứng thú với việc làm thế nào Quý khách biết chúng tôi (qua mạng internet, TV hay báo chí…). Những thông tin này giúp chúng tôi biết được những công cụ tiếp thị và quảng cáo nào có hiệu quả nhất.</li>
        </ul>
        <p style="text-align: justify;">
            <strong style="font-weight:600;">Khiếu nại</strong><br>
            Nếu bạn cảm thấy Viettours đã không tuân thủ Chính sách bảo mật này hoặc nếu bạn quan tâm đến các hoạt động của Viettours thì hãy gửi thư đến ông <strong>Lưu Đình Phục</strong> – Giám đốc Công ty, theo địa chỉ <em>104 Nguyễn Công Trứ Q1 – T.P Hồ Chí Minh</em> – Việt Nam hoặc gửi email đến địa chỉ <a href="#">danghoanglam@gmail.com</a>. Những khiếu nại hay yêu cầu của Quý khách sẽ được tìm hiểu và giải quyết trong vòng 30 ngày kể từ ngày tiếp nhận từ Quý khách. Nếu những khiếu nại là hợp lý, Viettours sẽ xem xét và giải quyết các khiếu nại, kể cả việc yêu cầu để sửa chữa Chính sách cho hợp lí tùy theo từng trường hợp.
        </p>
      <div class="at-below-post-page addthis_tool" ></div><div style="clear:both;"></div>
    </div>

</aside>

