@using viettours.Models
@model viettours.Models.danhmuc
@{
    ViewBag.Title = "chondanhmuc";
    Layout = "~/Views/Layout/HomeTestLayout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<h2>chondanhmuc</h2>



