
@{
    ViewBag.Title = "DieuKienChung";
    Layout = "~/Views/Layout/HomeTestLayout.cshtml";
}

@section menulink{
    <aside id="bcn_widget-2" class="widget widget_breadcrumb_navxt catalyst-widget-area breadcrum_vt" style="margin-top:10px;">
        <div class="widget-wrap">
            <div class="breadcrumbs" vocab="https://schema.org/" typeof="BreadcrumbList">
                <!-- Breadcrumb NavXT 6.6.0 -->
                <span typeof="v:Breadcrumb"><a rel="v:url" property="v:title" title="Go to Viettours Incentives and Events." href="@Url.Action("TrangChu","Home")" class="home">Trang chủ</a></span> &gt; <span typeof="v:Breadcrumb"><span property="v:title">Điều kiện chung</span></span>
            </div>
        </div>
    </aside>
    }
<aside class="post-99 page type-page status-publish hentry">
    <header class="entry-header">
        <h1 class="entry-title" style="font-weight: 600; font-weight: 600; font-size: 14px; margin-top: -20px; color: #d40505;">Điều kiện chung</h1>
    </header>
    <div class="entry-content">
        <div class="at-above-post-page addthis_tool" data-url="https://viettours.com.vn/dieu-kien-chung/"></div><h3 style="text-align: justify;margin-top:-10px;"><strong style="font-size:14px;">ĐIỀU KHOẢN CHUNG</strong></h3>
        <p style="text-align: justify;">Quý khách nên in và đọc kỹ nội dung của trang này trước khi tiến hành đặt tour với chúng tôi. Các chuyến đi do Công ty Viettours tổ chức cơ bản đều theo những thỏa thuận và điều khoản sau (trừ trường hợp những tour đặc biệt sẽ có những điều khoản khác với thỏa thuận và điều khoản này).</p>
        <p style="text-align: justify;"><strong style="font-weight:600;"><span style="color: #ffff00;"><span style="color: #ffcc00;">Giá trị</span></span></strong></p>
        <p style="text-align: justify;"><strong></strong> Các giá tour nêu trên trang web này được tính trên mức giá và tỷ giá hối đoái vào thời điểm thiết lập chương trình nên chỉ mang tính tham khảo. Công ty Viettours được quyền điều chỉnh giá và không chịu trách nhiệm về sự thay đổi này vào bất kỳ thời điểm nào. Tất cả thông tin trên trang web hay tờ bướm quảng cáo có thể thay đổi. Thông thường khách hàng đều được báo các thay đổi này. Xin vui lòng kiểm tra và cập nhật những thay đổi mới nhất của chuyến đi trên trang web hoặc email cá nhân. Những điều kiện này chỉ áp dụng cho các chuyến đi của Viettours mà thôi.</p>
        <p style="text-align: justify;"><span style="color: #ffcc00;"><strong style="font-weight:600;">Trường hợp khách hàng hủy chuyến đi</strong></span></p>
        <p style="text-align: justify;">Trường hợp hủy chuyến đi, Quý khách vui lòng gửi thông báo cho chúng tôi. Dựa vào ngày nhận được thông báo này, chúng tôi sẽ có những mức thu như sau:</p>
        <p style="text-align: justify;">
            – 7 ngày trước ngày khởi hành: 50% tổng chi phí đặt tour<br>
            – Ít hơn 7 ngày : 100% tổng chi phí đặt tour<br>
            Chúng tôi không thể hoàn lại tiền của chuyến đi khi tour đã khởi hành hoặc khi Quý khách tự ý tách đoàn. Nếu vì một lý do nào khác mà Quý khách buộc phải tách đoàn, số tiền hoàn lại cho Quý khách phải được giữ bí mật. Không hoàn tiền nếu Quý khách không sử dụng một số dịch vụ trong tour trọn gói như tiền xe vận chuyển, phí tham quan, các buổi ăn hay các dịch vụ khác. Một số hãng bảo hiểm có bảo hiểm cho trường hợp hủy tour này, Quý khách có thể lấy lại sổ tiền phạt này nếu có lý do chính đáng (phí bảo hiểm này do khách tự mua thêm, Viettours chỉ có bảo hiểm y tế cơ bản cho tất cả các tour).
        </p>
        <p style="text-align: justify;"><span style="color: #ffcc00;"><strong style="font-weight:600;">Trường hợp Viettours hủy chuyến đi </strong> </span></p>
        <p style="text-align: justify;">Viettours được phép hủy chuyến đi 15 ngày trước khi khởi hành. Các chuyến đi của Viettours có thể khởi hành khi các thành viên đã đóng đủ tiền tour. Ngoài ra, Viettours được quyền hủy các chuyến đi, bao gồm những chuyến đi đã được xác nhận khởi hành vì những lý do như khủng bố, bệnh dịch, tình hình chính trị bất ổn, đình công hay những sự kiện khác gây trở ngại cho Viettours tổ chức tour như dự kiến. Trường hợp Viettours hủy chuyến đi, Quý khách có thể chọn một chuyến đi khác hay nhận lại toàn bộ số tiền tour sau khi khấu trừ những dịch vụ đã được chuẩn bị như visa, tiêm phòng, những chuyến bay không hủy được và những mất mát mang tính tinh thần khác. Trường hợp chọn một chuyến đi khác có giá thấp hơn chuyến đi bị hủy, Viettours sẽ hoàn lại số tiền chênh lệch. Và Quý khách đóng bổ sung thêm tiền trong trường hợp tour mới có giá cao hơn tour đã bị hủy.</p>
        <p style="text-align: justify;"><span style="color: #ffcc00;"><strong style="font-weight:600;">Bảo hiểm</strong></span></p>
        <p style="text-align: justify;">Tất cả các chuyến đi do Viettours tổ chức đều đã được bảo hiểm về y tế. Chúng tôi khuyên Quý khách nên mua thêm những bảo hiểm khác như bảo hiểm hồi hương trong những trường hợp khẩn cấp, bảo hiểm cho những sự cố hủy chuyến đi…</p>
        <p style="text-align: justify;"><span style="color: #ffcc00;"><strong style="font-weight:600;">Trách nhiệm</strong></span></p>
        <p style="text-align: justify;">Khi đăng ký tour với Viettours, Quý khách thường được khuyên nên tìm hiểu về tính linh hoạt của chuyến đi, ví dụ như các phương tiện giao thông có thể thay đổi mà không báo trước vì những điều kiện tại địa phương hay nước sở tại. Trong những trường hợp như vậy, cho phép Viettours có thể sửa lại chương trình tham quan, hoặc có thể cắt ngắn hay hoạch định lại chuyến đi. Trong suốt hành trình, Quý khách chấp nhận theo những sự hướng dẫn của HDV hoặc trưởng đoàn của chúng tôi. Khi đi theo đoàn, Quý khách phải thông cảm với những sự khác biệt giữa các cá nhân với nhau. Ngoài ra, Viettours được phép quyết định về các thành viên trong đoàn. Khi Viettours tổ chức các chuyến đi cho các cơ quan chính phủ, công ty hay tổ chức, Viettours không chịu trách nhiệm về thương tật, mất mát, trì hoãn… ảnh hưởng đến bên thứ 3 này. Viettours không chịu trách nhiệm các trường hợp vi phạm pháp luật tại địa phương hay quốc gia sở tại khi đi du lịch. Các nhân viên hay đối tác của Viettours đều không được phép tiếp tay cho các hoạt động này.</p>
        <p style="text-align: justify;"><span style="color: #ffcc00;"><strong style="font-weight:600;">Điều khoản đồng ý</strong></span></p>
        <p style="text-align: justify;">Khi xác nhận đặt tour với chúng tôi có nghĩa Quý khách đã đọc qua và hiểu như sau: “Khi đi du lịch sẽ bao gồm những niềm vui và kinh nghiệm sống mà tôi có được, tôi cũng phải chấp nhận những rủi ro có thể gặp phải trên đường. Đặc biệt với những tour mạo hiểm, tiêu chuẩn về an toàn, vệ sinh, y tế, thông tin liên lạc hay cơ sở hạ tầng sẽ không như ở nhà hay giống như nhưng chuyến đi trăng mật”.</p>
        <p style="text-align: justify;"><span style="color: #ffcc00;"><strong style="font-weight:600;">Đối tác tại địa phương</strong></span></p>
        <p style="text-align: justify;">Tại nhiều nơi trên thế giới, Viettours hợp tác với những công ty du lịch nổi tiếng tại địa phương. Những đơn vị này làm việc với cả sự đam mê và nhiệt tình tại quốc gia của họ và thường có những tiêu chuẩn cao như Viettours yêu cầu. Khi làm hợp tác với các đơn vị địa phương này, chúng tôi đã góp phần vào nền kinh tế của các quốc gia mà Quý khách tham quan.</p>
        <p style="text-align: justify;"><span style="color: #ffcc00;"><strong style="font-weight:600;">Du lịch với trẻ em</strong> </span></p>
        <p style="text-align: justify;">
            Hầu hết các chuyến đi do Viettours tổ chức đều thích hợp với trẻ em (khi đi cùng cha mẹ hay người thân). Cha mẹ hay người thân của bé giúp bé làm theo đúng các chỉ dẫn của HDV hay trưởng đoàn.<br>
            Thông tin cá nhân<br>
            Chúng tôi cần một số thông tin cá nhân của Quý khách nhằm để sắp xếp cho chuyến đi như: họ và tên, số hộ chiếu (passport), ngày tháng năm sinh, quốc tịch, ngày cấp và ngày hết hạn của hộ chiếu, tình trạng sức khỏe. Nếu Quý khách trên 70 tuổi, Quý khách có thể sẽ phải ký thêm một số giấy tờ dành cho người cao tuổi. Không có những thông tin cá nhân này, chúng tôi không thể hoàn tất hồ sơ tour của Quý khách được.
        </p>
        <p style="text-align: justify;"><span style="color: #ffcc00;"><strong style="font-weight:600;">Hộ chiếu và visa</strong></span></p>
        <p style="text-align: justify;">Khi đi du lịch trong nước, Quý khách cần mang theo CMND và giấy khai sinh cho em bé. Trong trường hợp đi du lịch nước ngoài, cần mang theo hộ chiếu, các loại visa hay các loại giấy tờ theo yêu cầu của quốc gia đến trong suốt chuyến đi. Hộ chiếu phải còn giá trị ít nhất 6 tháng. Kiểm tra kỹ các loại visa xuất nhập trước khi khởi hành, Viettours không chịu trách nhiệm những trường hợp Quý khách bị từ chối xuất hay nhập cảnh.</p>
        <p style="text-align: justify;"><span style="color: #ffcc00;"><strong style="font-weight:600;">Hình ảnh và Marketing</strong></span></p>
        <p style="text-align: justify;">Quý khách đồng ý cho Viettours sử dụng hình ảnh các hoạt động của chuyến đi vì mục đích quảng cáo và marketing.</p>
        <p style="text-align: justify;"><span style="color: #ffcc00;"><strong style="font-weight:600;">An toàn thẻ tín dụng</strong></span></p>
        <p style="text-align: justify;">Viettours hiện đang áp dụng một số biện pháp nhằm giữ thông tin thẻ tín dụng của Quý khách: những chi trả của Quý khách trên mạng sẽ qua một đơn vị quản lý về an toàn cho Quý khách. Thông tin thẻ sẽ không lưu lại trên hệ thống máy của Viettours.</p>
       <div class="at-below-post-page addthis_tool" data-url="https://viettours.com.vn/dieu-kien-chung/"></div><div style="clear:both;"></div>
    </div>

</aside>

