
@{
    ViewBag.Title = "DuLichMoiTruong";
    Layout = "~/Views/Layout/HomeTestLayout.cshtml";
}

@section menulink {
    <aside id="bcn_widget-2" class="widget widget_breadcrumb_navxt catalyst-widget-area breadcrum_vt" style="margin-top:10px;">
        <div class="widget-wrap">
            <div class="breadcrumbs" vocab="https://schema.org/" typeof="BreadcrumbList">
                <!-- Breadcrumb NavXT 6.6.0 -->
                <span typeof="v:Breadcrumb"><a rel="v:url" property="v:title" title="Go to Viettours Incentives and Events." href="@Url.Action("TrangChu","Home")" class="home">Trang chủ</a></span> &gt; <span typeof="v:Breadcrumb"><span property="v:title">Du lịch và môi trường</span></span>
            </div>
        </div>
    </aside>
}
<aside class="post-188 page type-page status-publish hentry">

    <header class="entry-header">
        <h1 class="entry-title" style="font-size: 14px; color: #af0808; font-weight: 700; margin-top: -20px;">Du lịch và môi trường</h1>

    </header>

    <div class="entry-content">
        <div class="at-above-post-page addthis_tool" data-url="https://viettours.com.vn/du-lich-va-moi-truong/"></div><p style="text-align: justify;">Với tất cả những điểm đến trên toàn cầu, hãy cùng chúng tôi có một thái độ và suy nghĩ tích cực với môi trường. Môi trường ở đây được hiểu theo nghĩa rộng, mang cả những lợi ích của cộng đồng địa phương và văn hóa của họ. Xin vui lòng tra cứu tiếp về những điều khuyến khích khi du lịch:</p>
        <ul style="margin-left:20px;">
            <li>Hành động có trách nhiệm</li>
            <li>Những điều khuyến khích</li>
            <li>Những chỉ dẫn bổ ích</li>
        </ul>
        <p style="text-align: justify;"><strong style="font-weight:600;">Hành động có trách nhiệm</strong></p>
        <ul style="margin-left:20px;">
            <li>Sử dụng những nguồn lực, hạ tầng sẵn có của địa phương</li>
            <li>San sẻ lợi nhuận đến với cộng đồng các địa phương</li>
            <li>Tạo công ăn việc làm và giao quyền quản lý cho người địa phương</li>
            <li>Giữ vững phong tục và văn hóa địa phương đó</li>
            <li>Xác lập những chuyến đi an toàn cho đối tác, nhân viên và du khách của Viettours</li>
            <li>Chỉ rõ lý do tại sao nên chọn du lịch theo cách này</li>
            <li>Giảm thiểu những tác động tiêu cực đối với các cộng đồng địa phương</li>
            <li>Giảm thiểu các tác động lý tính lên những vấn đề nhạy cảm về cộng đồng và môi trường văn hóa</li>
            <li>Hổ trợ những tổ chức và cộng đồng địa phương mà&nbsp;Viettours&nbsp;có tour tham quan</li>
            <li>Cung cấp những dịch vụ tour tốt nhất tại địa phương</li>
            <li>Tạo điều kiện cho du khách tìm hiểu với người địa phương</li>
            <li>Nghiêm cấm đối tác, nhân viên và du khách dính đến tệ nạn mãi dâm và ma túy</li>
            <li>Không khuyến khích các hành động ảnh hưởng đến thú hoang dã cũng như thú nuôi</li>
            <li>Ngăn chặn việc sử dụng lao động trẻ em trong ngành du lịch</li>
            <li>Tạo những cơ hội nghề nghiệp công bằng</li>
            <li>Mang đến cho du khách những dịch vụ tốt nhất</li>
        </ul>
        <p style="text-align: justify;"><strong style="font-weight:600;">Những điều khuyến khích</strong></p>
        <p style="text-align: justify;"><em style=" font-style: italic;">Du khách nên làm gi?</em></p>
        <p style="text-align: justify;">Chúng tôi thường yêu cầu du khách của chúng tôi tôn trọng các giá trị và quy định của địa phương. Điều này có nghĩa những quốc gia khác nhau sẽ có những giá trị và quy định khác nhau mà du khách nên được biết trước chuyến đi – du khách nên học ngôn ngữ địa phương và đọc về tôn giáo và văn hóa của địa phương đó. Việc này sẽ giúp cho kinh nghiệm du lịch của khách tốt hơn. Với những cố gắng nhỏ này, du khách sẽ hiểu hơn những nền văn hóa khác và cảm thấy hài lòng khi để lại một dấu ấn tích cực đối với quốc gia mà mình tham quan.</p>
        <p style="text-align: justify;">Những khuyến khích là những cách cư xử bài bản nhất mà chúng tôi hy vọng các du khách sẽ hợp tác. Làm theo những lời khuyên của chúng tôi, du khách sẽ được người địa phương đánh giá cao. Tại sao chúng ta cần những khuyến khích này? Bởi vì chúng ta là những khách mời đến tham quan cộng đồng, nhà cửa và đền đài ở một nơi nào đó. Là một du khách có trách nhiệm chắc hẳn chúng ta muốn giữ gìn những nơi đến để những du khách khác sau này cũng có cơ hội biết đến như chúng ta. Những du khách, HDV, nhân viên và đối tác của Viettours&nbsp;đã và sẽ có những người bạn tuyệt vời khắp nơi trên Thế giới và chúng ta trân trọng những mối quan hệ với các địa phương đó.</p>
        <p style="text-align: justify;"><em style=" font-style: italic;">Tôn trọng sự khác biệt về văn hóa</em></p>
        <p style="text-align: justify;">Mọi thứ ở nơi đến tham quan có vẻ rất khác so với ở nhà, đó là lý do con người muốn đi du lịch và muốn chinh phục. Du khách nên hiểu và chấp nhận sự khác biệt này và đừng cố gắng thay đổi vì lợi ích hay sự thỏa mãn của cá nhân. Hành động đúng thời điểm và đúng lúc luôn là cách hay nhất. Khi muốn có một chuyến đi vui vẻ và thành công, nên chăng luôn giữ thái độ mềm mỏng, vui vẻ và hòa nhã. Những du khách mất kiên nhẫn thường gây nhiều ấn tượng không hay. Kiên nhẫn, lịch thiệp và luôn mỉm cười sẽ mở ra nhiều cánh cửa cho du khách.</p>
        <p style="text-align: justify;"><em style=" font-style: italic;">Thân thiện</em></p>
        <p style="text-align: justify;">Kết bạn luôn là những điều thích nhất khi đi du lịch. Đừng mong chờ những điều tuyệt vời vì bạn cũng là một trong những du khách chọn điểm đến đó. Hãy chấp nhận và thưởng thức sự hiếu khách mà bạn nhận được – đến thăm và uống trà tại nhà một ai đó. Bạn sẽ học được về đời sống, văn hóa và thái độ sống qua những trận cười và thời gian vui vẻ đó. Đó cũng là cơ hội để người mời học về văn hóa của bạn. Bạn có thể gửi những bức ảnh xinh xắn chụp chung để cảm ơn sự hiếu khách nhận được, không nên hứa những gì bạn không làm được. Ở những vùng kém phát triển, không nên khoe những đồ dùng đắt tiền của mình như nữ trang, tiền mặt hay các thiết bị điện tử đắt tiền.</p>
        <p style="text-align: justify;">Khi đi trên đường, chuẩn bị tinh thần cho những câu hỏi rất riêng tư đại loại như: “Bạn tên gì? Bạn là người nước nào? Mấy tuổi rồi? Bạn đang đi đâu vậy?” Đừng nghĩ đây là cách hỏi thô thiển và vi phạm đời tư. Đây chỉ là một sự tò mò thể hiện sự quan tâm hoặc là một cách để thực hành tiếng Anh. Hãy kiên nhẫn đáp lại và có những cử chỉ vui vẻ đi kèm. Quan điểm về sự riêng tư ở một số quốc gia có thể khác nhau.</p>
        <p style="text-align: justify;"><em style=" font-style: italic;">Nghi thức xã giao</em></p>
        <p style="text-align: justify;">Nói chung, có một vài điểm giống nhau trong nghi thức xã giao có thể dùng được.</p>
        <ul style="margin-left:20px;">
            <li>Ở Châu Á, búng hay uốn cong ngón tay (khi gọi ai đó) được xem là bất lịch sự. Người ta thường dùng cả bàn tay úp xuống để gọi ai đó.</li>
            <li>Ở Châu Á hay một số quốc gia Hồi giáo, người dân thường không có thói quen thể hiện tình cảm ở ngoài đường – cấm cả những nụ hôn ngoài đường. Những nơi xa khu thị tứ sầm uất, bạn sẽ hiếm khi gặp những cặp đôi nắm tay nhau. Ngược lại, nam với nam hay nữ với nữ lại thường nắm tay nhau ở các nước Châu Á.</li>
            <li>Khi tham quan một đền thờ Hồi giáo ở Ai Cập hay Malaysia, du khách không được đi giày dép vào bên trong. Phụ nữ cần choàng khăn và trang phục kín đáo. Nam giới cũng phải ăn mặc kín đáo, không mặc quần short. Thường quần dài và áo tay dài sẽ thích hợp nhất. Giống vậy, khi ở một số nước Châu Âu, đặc biệt ở Ý, bạn thường được khuyên ăn mặc sao có thể che kín đầu gối và vai.</li>
            <li>Ở Thổ Nhĩ Kỳ, không nên xì mũi khi ở gần người dân địa phương vì đều này được cho là rất thô lỗ. Nếu bạn xì mũi trên bàn tiệc, người Thổ sẽ bỏ đi về vì không chấp nhận được việc này.</li>
            <li>Thường ở Châu Âu, bạn phải chào bằng ngôn ngữ địa phương khi vào cửa hiệu hay nhà hàng ăn.</li>
            <li>Ở Morocco, khi thăm khu của người Berber, bạn đừng gọi nhầm họ là người Morocco. Vì người Berber rất tự hào về nguồn gốc là những người có mặt ở Morocco từ thuở khai sinh lập địa. Nên học vài câu nói tiếng Berber để tăng khả năng giao tiếp. Và tương tự, khi ở Châu Âu, bạn không nên gọi ai đó là người di-gan (Gypsy) mà nên gọi họ là những người Roma.</li>
            <li>Hầu hết các quốc gia, thể hiện sự nóng giận bằng cách la lối không phải là cách thích hợp. Giận dữ làm người đối diện cảm thấy bối rối và giận.. sẽ mất khôn, như người ta thường nói. Giữ thể diện là điều quan trọng, đặc biệt ở Châu Á.</li>
        </ul>
        <p style="text-align: justify;"><em style=" font-style: italic;">Trang phục </em></p>
        <p style="text-align: justify;">Tại nhiều quốc gia, có những tiêu chuẩn về trang phục, đặc biệt ở Châu Á và các vùng Hồi giáo như Trung Đông. Quần áo rộng, nhẹ và dài thường thể hiện sự kính trọng và mát vào những tháng thời tiết nóng ở Châu Á. Quần shorts nên dài quá gối. Các loại áo hai dây thường không thích hợp. Dù bạn đang ở đâu cũng nên ăn mặc kín đáo ở các nơi tôn giáo trang nghiêm. Có một số điểm không cho phép mang giày dép hay đội mũ nón. Che kín đầu gối và vai khi tham quan các nơi theo đạo Hồi. Nên hỏi trưởng đoàn của Viettours&nbsp;nếu bạn muốn bơi ở con sông đầu làng, thông thường phụ nữ cần choàng thêm cái sarong. Tắm “tiên” hay tắm nắng thường không thích hợp ở rất nhiều nơi. Khi bạn không tự tin về trang phục, hãy làm theo số đông người địa phương.</p>
        <p style="text-align: justify;"><span style="text-decoration: underline;">Chụp ảnh và quay phim</span></p>
        <p style="text-align: justify;">
            Xin vui lòng lưu ý những tác động của phim ảnh nói chung vì tính rất nhạy cảm của nó. Xin phép khi muốn chụp ảnh hay quay phim và tỏ thái độ tôn trọng mỗi khi bị từ chối. Thường những người dân tộc thiểu số không thích bị chụp ảnh. Du khách nên tránh trả tiền mỗi khi chụp ảnh ai đó vì việc này tạo thói quen đòi hỏi và xin xỏ của người địa phương. Thay vào đó, bạn nên gửi ảnh trực tiếp hay qua HDV đến những người được chụp. Người địa phương thường rất thích thú khi ngắm mình qua các bức ảnh, điều này góp phần tạo thói quen chia sẽ hơn là vòi vĩnh. Các HDV của chúng tôi có nhiệm vụ gửi những bức ảnh này khi họ quay lại nơi đây.<br>
            Trách nhiệm đối với môi trường Quản lý chất thải và môi trường là một vấn đề lớn đối với Thế giới hiện đại. Tại nhiều quốc gia, đặc biệt tại Châu Á, hệ thống tái chế vẫn còn thiếu rất nhiều. Chúng tôi khuyên du khách hạn chế sử dụng các túi nhựa (một số nước đã áp dụng biện pháp tính tiền khi mua hàng tại siêu thị). Có nhiều phương tiện giao thông công cộng có thùng rác rỗng ruột và rác bay hết ra cửa sổ mà chúng tôi gặp tại Ấn Độ. Nên nhặt rác và bỏ vào đúng nơi quy định hay giữ lại và bỏ tại một nơi khác.<br>
            Có nhiều du khách tham gia trekking nhưng mang theo túi nhựa để đựng rác nhặt rác tại nơi đến nhằm cải thiện môi trường. Tại một vài nơi, theo tập tục, người địa phương không được đốt rác hay bỏ rác vào lò. Nước đóng chai các loại được bày bán hầu như ở khắp mọi nơi nhưng không phải nơi nào cũng có các nhà máy tái chế. Tại nhiều khách sạn và nhà hàng thường có các bình nước lớn, du khách có thể dùng nước này và hạn chế dùng chai nhựa.
        </p>
        <p style="text-align: justify;"><em style=" font-style: italic;">Ăn uống và mua sắm</em></p>
        <p style="text-align: justify;">Thưởng thức các đặc sản địa phương cũng là một phần lý thú của chuyến đi. Ăn thức ăn địa phương, số tiền bạn sử dụng sẽ giúp cho cộng đồng địa phương và người dân hơn là góp phần làm giàu cho các tập đoàn đa quốc gia. Mua các đồ thổ cẩm và các tác phẩm nghệ thuật trực tiếp từ người dân hơn là đóng góp cho các đại siêu thị sang trọng. Đây cũng là sự trợ giúp người dân địa phương, hợp tác xã hay trung tâm thủ công mỹ nghệ (của người tàn tật) bán hàng với nhiều lợi nhuận hơn.</p>
        <p>Không nên sử dụng những sản phẩm hay đặc sản đang có nguy cơ tuyệt chủng:</p>
        <ul style="margin-left:20px;">
            <li>Baba hay cua đinh biển</li>
            <li>San hô</li>
            <li>Da rắn</li>
            <li>Lông thú quý</li>
            <li>Các loại bướm</li>
            <li>Ngà voi</li>
            <li>Thịt rừng</li>
        </ul>
        <p style="text-align: justify;"><em style=" font-style: italic;">Mãi dâm</em></p>
        <p style="text-align: justify;"><em></em>Nguyên tắc của Viettours&nbsp;là tôn trọng đối với tất cả các bên mà chúng tôi tiếp xúc, đặc biệt đối với người địa phương. Mua dâm là một việc đi ngược lại với nguyên tắc của chúng tôi. Điều cốt lõi là chúng tôi quan tân đến sức khỏe và sự an toàn cho du khách.</p>
        <p style="text-align: justify;"><em style=" font-style: italic;">Ma túy</em></p>
        <p style="text-align: justify;">Trường hợp phát hiện sở hữu hay sử dụng ma túy các loại, HDV sẽ buộc du khách đó phải tách đoàn. Vì sử dụng và sở hữu ma túy không những là hành vi phạm pháp mà còn gây ảnh hưởng đến các thành viên khác trong đoàn. Hút cần sa hay thuốc phiện có thể bình thường tại một vài nơi trên Thế giới nhưng nó không được chấp nhận với du khách của Viettours&nbsp;và nhân viên.</p>
        <p style="text-align: justify;"><em style=" font-style: italic;">Quà và Quỹ lạc quyên</em></p>
        <p style="text-align: justify;">
            Vui lòng không cho người dân tiền, bút viết hay kẹo bánh các loại, tại các nơi tham quan vì bạn đang tạo nên nên một nền “văn hóa xin xỏ” mà chúng tôi gặp phải ở Campuchia, ở Sapa. Việc này đã tạo nên một quan hệ không bình đẳng giữa du khách và người dân đáng ra phải tìm một phương cách nào để thoát nghèo (qua các quỹ xóa đói giảm nghèo).<br>
            Nếu bạn muốn đóng góp cho cộng đồng, HDV chúng tôi có thể chỉ ra những hoạt động mà Viettours&nbsp;tham dự thông qua các cơ quan cứu trợ. Mua giúp các sản phẩm thủ công mỹ nghệ của địa phương cũng là một cách giúp các cộng đồng này. Bút viết hay sách vở nên được gửi đến các trường học hay các trưởng thôn. HDV chúng tôi có thể giúp Quý khách trong việc này.<br>
            Thông thường sau mỗi chuyến đi, HDV của Viettours&nbsp;thu gom những quần áo cũ của du khách để cứu trợ những vùng sâu vùng xa. Vui lòng kiểm tra với HDV của Viettours. Tại một số quốc gia, các tổ chức tôn giáo như nhà thờ hay chùa làm rất tốt trong công tác cứu trợ người nghèo, du khách có thể đóng góp qua các thùng từ thiện có sẵn.
        </p>
        <p style="text-align: justify;"><strong style="font-weight:600;">Những chỉ dẫn bổ ích </strong></p>
        <ul style="margin-left:20px;">
            <li>Trước các chuyến đi, đọc thật nhiều về nơi sắp đến như tôn giáo, văn hóa, các nguyên tắc và giá trị địa phương.</li>
            <li>Học ngôn ngữ của nơi đến và đừng ngại khi sử dụng nó. Biết một chút ngoại ngữ sẽ làm chuyến đi của bạn thêm lý thú.</li>
            <li>Học những cử chỉ cần thiết khi vốn ngoại ngữ của bạn không đủ để sử dụng.</li>
            <li>Sử dụng những dịch vụ của địa phương như nhà hàng, khách sạn. Ăn thức ăn địa phương, thưởng thức bia địa phương. Sử dụng các phương tiện giao thông công cộng, thuê xe đạp hay đi bộ (nếu thích hợp) để có cơ hội hiểu về các sống, cách sinh hoạt của người địa phương.</li>
            <li>Suy nghĩ kỹ trước khi sử dụng các dịch vụ của nhà hàng, cửa hiệu, chợ… có liên quan đến các chủng loại có nguy cơ tuyệt chủng.</li>
            <li>Mua sắm các sản phẩm địa phương góp phần phát triển các làng nghề hơn là những sản phẩm nhập khẩu. Khi mua sắm phải mặc cả giá vì đây đã trở thành cách buôn bán nhưng cần phải tâm niệm một điều, người bán rất cần mình dù có thể mua đắt hơn vài đồng.</li>
            <li>Cẩn thận trong trang phục, theo giống người địa phương. Ăn mặc kín đáo ở các điểm tôn giáo, kiểm tra trang phục tắm xem có thích hợp chưa.</li>
            <li>Luôn xin phép mỗi khi chụp ảnh ai đó. Gửi ảnh sau chuyến đi.</li>
            <li>Cân nhắc khi cho tiền hay quà cho người ăn xin trẻ em hay những người mà bạn gặp. Nên giúp cộng đồng qua các trường học, trạm xá hay các chương trình phát triển địa phương.</li>
            <li>Giữ sạch môi trường như chính ngôi nhà của bạn, không để lại gì dù đó chỉ là vết của bước chân. Mang vào những gì, phải mang ra những thứ ấy. Nói không với túi nhựa các loại. Tàn thuốc lá nên được cất vào một hộp sắt và bỏ vào nơi quy định sau đó.</li>
            <li>Mỉm cười – muốn có một chuyến đi vui vẻ và thành công, chính bạn phải vui vẻ, lạc quan và thân thiện trước.</li>
        </ul>
        <div class="at-below-post-page addthis_tool" data-url="https://viettours.com.vn/du-lich-va-moi-truong/"></div>
        <div style="clear:both;"></div>
    </div>

</aside>

