@{
    ViewBag.Title = "ThuTucVisa";
    Layout = "~/Views/Layout/HomeTestLayout.cshtml";
}

@section menulink{
    <aside id="bcn_widget-2" class="widget widget_breadcrumb_navxt catalyst-widget-area breadcrum_vt" style="margin-top:10px;">
        <div class="widget-wrap">
            <div class="breadcrumbs" vocab="https://schema.org/" typeof="BreadcrumbList">
                <span typeof="v:Breadcrumb"><a rel="v:url" property="v:title" title="Go to Viettours Incentives and Events." href="@Url.Action("TrangChu","Home")" class="home">Trang chủ</a></span> &gt; <span typeof="v:Breadcrumb"><span property="v:title">Thủ tục Visa</span></span>
            </div>
        </div>
    </aside>
    }
<aside>

    <header class="entry-header">
        <h1 class="entry-title" style=" font-size: 15px; color: #b31818; font-weight: 700; margin-top: -20px; margin-bottom: 15px;">Thủ tục Visa</h1>

    </header>
    <div class="entry-content">
        <div class="at-above-post-page addthis_tool"></div><div align="center">
        <img src="https://viettours.com.vn/wp-content/themes/dynamik/css/images/bando-visa.jpg" alt="du lịch" width="492" height="493">
        </div>
        <div align="center"></div>
        <div class="visa-5chau">
            <ul class="lst-5chau">
                <li class="title-visa" style="text-align: left; margin-right: 20px;">
                    <strong>
                        Châu Á<br>
                    </strong><a title="du lich" href="#" target="_blank">– Trung Quốc</a><br>
                    <a title="du lich" href="#" target="_blank">– Đài Loan</a><br>
                    <a title="du lich nhat ban" href="#" target="_blank">– Nhật Bản</a><br>
                    <a title="du lịch hàn quốc" href="#" target="_blank">– Hàn Quốc</a>
                </li>
                <li class="title-visa" style="text-align: left; margin-right: 20px;">
                    <strong>
                        Châu Âu<br>
                    </strong><a title="du lich anh quốc" href="#" target="_blank">– Anh</a><br>
                    <a title="du lịch ý" href="#" target="_blank">– Ý (Italia)</a><br>
                    <a title="du lịch pháp" href="#" target="_blank">– Pháp</a><br>
                    <a title="du lich tham than" href="#" target="_blank">– Schengen</a><br>
                    <a title="du lich tay ban nha" href="#" target="_blank">– Tây Ban Nha</a><br>
                    <a title="du lich duc" href="#" target="_blank">– Đức</a>
                </li>
                <li class="title-visa" style="text-align: left; margin-right: 20px;">
                    <strong>
                        Châu Mỹ<br>
                    </strong><a title="du lịch my" href="#" target="_blank">– Hoa Kỳ</a><br>
                    <a title="du lịch canada" href="#" target="_blank">– Canada</a>
                </li>
                <li class="title-visa" style="text-align: left; margin-right: 20px;">
                    <strong>
                        Châu Úc<br>
                    </strong><a title="du lich uc" href=#" target="_blank">– Úc</a><br>
                    <a title="du lich new zealand" href="#" target="_blank">– New Zealand</a>
                </li>
                <li class="title-visa" style="text-align: left; margin-right: 20px;">
                    <strong>
                        Châu Phi<br>
                    </strong><a title="du lich nam phi" href="#" target="_blank">– Nam Phi</a>
                </li>
            </ul>
        </div>
        <div class="at-below-post-page addthis_tool" data-url="#"></div>
        <div style="clear:both;"></div>
    </div>

</aside>
<style>
    .lst-5chau {
      margin-left:50px;
      padding:0;
    }
    .lst-5chau li.title-visa{
        display:inline-table;
        margin-top:20px;
    }
</style>