
@{
    ViewBag.Title = "XeVanChuyen";
    Layout = "~/Views/Layout/HomeTestLayout.cshtml";
}

@section menulink{
    <aside id="bcn_widget-2" class="widget widget_breadcrumb_navxt catalyst-widget-area breadcrum_vt" style="margin-top:5px;">
        <div class="widget-wrap">
            <div class="breadcrumbs" vocab="https://schema.org/" typeof="BreadcrumbList">
                <!-- Breadcrumb NavXT 6.6.0 -->
                <span typeof="v:Breadcrumb"><a rel="v:url" property="v:title" title="Go to Viettours Incentives and Events." href="@Url.Action("TrangChu","Home")" class="home">Trang chủ</a></span> &gt; <span typeof="v:Breadcrumb"><span property="v:title">Xe vận chuyển</span></span>
            </div>
        </div>
    </aside>
}
<aside class="post-175 page type-page status-publish hentry">
    <header class="entry-header">
        <h1 class="entry-title" style="font-size: 14px; color: #af0808; font-weight: 700; margin-top: -20px;">Xe vận chuyển</h1>
    </header>
    <div class="entry-content">
        <div class="at-above-post-page addthis_tool" data-url="https://viettours.com.vn/xe-van-chuyen/"></div><p style="text-align: justify;">
            <strong style="font-weight:600">ĐỘI XE</strong><br>
            Với đội xe hiện đại và đầy đủ từ xe 4 chỗ đến các loại xe 45 chỗ, Viettours chúng tôi có thể đáp ứng các nhu cầu đa dạng của khách hàng trong và ngoài nước với những tiêu chuẩn an toàn cao. Đội ngũ lái xe chuyên nghiệp, “giữ xe sạch sẽ và lái xe có trách nhiệm”, sẵn sàng phục vụ Quý khách.<br>
            Hiện nay đội xe của chúng tôi bao gồm như sau:
        </p>
        <ul style="margin-left:26px;">
            <li>4-7 chỗ ngồi: Toyota và Ford</li>
            <li>4-9 chỗ ngồi: Mercedes, Toyota và Honda</li>
            <li>12-16 chỗ ngồi: Mercedes, Toyota và Ford</li>
            <li>25-30 chỗ ngồi: Hyundai (County)</li>
            <li>45 chỗ ngồi: Hyundai (Space, Universe)</li>
        </ul>
        <p style="text-align: justify;">Ngoài những dịch vụ cho khách inbound và thị trường nội địa, Viettours còn ký kết hợp đồng cho thuê xe với các cá nhân trong và ngoài nước, các tổ chức, các công ty và văn phòng đại diện trên toàn quốc.</p>
        <p style="text-align: justify;"><span style="color: #ff0000;"><strong style="font-weight:600;">Biểu giá xe tham khảo tại TP.HCM: XE 4-16 CHỖ NGỒI </strong>(Giá tạm tính bằng USD)</span></p>
        <table style="width: 100%; text-align: left; margin-left: 0px; font-size: 14px; margin-right: 0px; border: 1px solid #808080; border-spacing: 1px; border-collapse: separate;" border="1" cellspacing="2" cellpadding="2">
            <tbody>
                <tr>
                    <td style="text-align: center; font-weight: bold;">Hành trình</td>
                    <td style="text-align: center; font-weight: bold;">
                        Xe 4 chỗ ngồi<br>
                        Toyota / Ford
                    </td>
                    <td style="text-align: center; font-weight: bold;">
                        Xe 7 chỗ ngồi<br>
                        Toyota
                    </td>
                    <td style="text-align: center; font-weight: bold;">
                        Xe 15-16 chỗ ngồi<br>
                        Toyota / Mercedes
                    </td>
                </tr>
                <tr>
                    <td>Sân bay TSN – KS hay KS – Sân bay</td>
                    <td style="text-align: center;">37</td>
                    <td style="text-align: center;">40</td>
                    <td style="text-align: center;">45</td>
                </tr>
                <tr>
                    <td>
                        Sân bay – KS hay KS – Sân bay<br>
                        (trước 6:00 sáng, sau 11.00 tối)
                    </td>
                    <td style="text-align: center;">47</td>
                    <td style="text-align: center;">50</td>
                    <td style="text-align: center;">55</td>
                </tr>
                <tr>
                    <td>Tham quan TP / nửa ngày (04 giờ)</td>
                    <td style="text-align: center;">36</td>
                    <td style="text-align: center;">38</td>
                    <td style="text-align: center;">40</td>
                </tr>
                <tr>
                    <td>Tham quan TP – 08 giờ</td>
                    <td style="text-align: center;">54</td>
                    <td style="text-align: center;">57</td>
                    <td style="text-align: center;">60</td>
                </tr>
                <tr>
                    <td>Địa đạo Củ Chi + Tham quan TP</td>
                    <td style="text-align: center;">90</td>
                    <td style="text-align: center;">95</td>
                    <td style="text-align: center;">100</td>
                </tr>
                <tr>
                    <td>Tham quan Mỹ Tho (08 giờ)</td>
                    <td style="text-align: center;">72</td>
                    <td style="text-align: center;">76</td>
                    <td style="text-align: center;">80</td>
                </tr>
                <tr>
                    <td>Tham quan Vĩnh Long (08 giờ)</td>
                    <td style="text-align: center;">126</td>
                    <td style="text-align: center;">133</td>
                    <td style="text-align: center;">140</td>
                </tr>
            </tbody>
        </table>
        <table style="width: 100%; text-align: left; margin-left: 0px; margin-right: 0px;" border="0" cellspacing="2" cellpadding="2">
            <tbody>
                <tr>
                    <td style="text-align: center;"><a href="http://dulich.vietco.net/transportation/dsc_6296/" rel="attachment wp-att-1473"><img class="aligncenter size-full wp-image-1473" title="DSC_6296" src="https://viettourism.com/wp-content/uploads/2012/10/DSC_6296.jpg" alt="" width="290" height="200"></a></td>
                    <td style="text-align: center;"><a href="http://dulich.vietco.net/transportation/transportation2/" rel="attachment wp-att-1474"><img class="aligncenter size-full wp-image-1474" title="Transportation2" src="https://viettourism.com/wp-content/uploads/2012/10/Transportation2.jpg" alt="" width="290" height="199"></a></td>
                </tr>
                <tr>
                    <td style="text-align: center;font-size:14px;">Huyndai 45 seaters</td>
                    <td style="text-align: center;font-size:14px;">Hyundai (county) 30 seaters</td>
                </tr>
                <tr>
                    <td style="text-align: center;font-size:14px;"><a href="http://dulich.vietco.net/transportation/bus16_cho/" rel="attachment wp-att-1475"><img class="aligncenter size-full wp-image-1475" title="bus16_cho" src="https://viettourism.com/wp-content/uploads/2012/10/bus16_cho.jpg" alt="" width="290" height="200"></a></td>
                    <td style="text-align: center;font-size:14px;"><a href="http://dulich.vietco.net/transportation/toyota_corolla_05/" rel="attachment wp-att-1476"><img class="aligncenter size-full wp-image-1476" title="Toyota_Corolla_05" src="https://viettourism.com/wp-content/uploads/2012/10/Toyota_Corolla_05.jpg" alt="" width="290" height="199"></a></td>
                </tr>
                <tr>
                    <td style="text-align: center;font-size:14px;">Mercedes 16 seaters</td>
                    <td style="text-align: center;font-size:14px;">Toyota 4 seaters</td>
                </tr>
            </tbody>
        </table>
        <p>
            <span style="color: #ff0000;"><strong style="font-weight:600;">Biểu giá xe tham khảo tại Đà Nẵng – Hội An và Huế: XE 4-16 CHỖ NGỒI</strong></span><br>
            <span style="color: #ff0000;"><strong>(Giá tạm tính bằng USD)</strong></span>
        </p>
        <table style="width: 100%; text-align: left; margin-left: 0px; font-size: 14px; margin-right: 0px; border: 1px solid #808080; border-spacing: 1px; border-collapse: separate;" border="1" cellspacing="2" cellpadding="2">
            <tbody>
                <tr>
                    <td style="text-align: center;"><strong>Hành trình</strong></td>
                    <td style="text-align: center;">
                        <strong>Xe 4 chỗ ngồi </strong><br>
                        <strong>Toyota / Ford</strong>
                    </td>
                    <td style="text-align: center;">
                        <strong>Xe 7 chỗ ngồi</strong><br>
                        <strong>Toyota</strong>
                    </td>
                    <td style="text-align: center;">
                        <strong>Xe 15-16 chỗ ngồi</strong><br>
                        <strong>Toyota / Mercedes</strong>
                    </td>
                </tr>
                <tr>
                    <td>Sân bay – KS hay KS – Sân bay</td>
                    <td style="text-align: center;">37</td>
                    <td style="text-align: center;">40</td>
                    <td style="text-align: center;">45</td>
                </tr>
                <tr>
                    <td>
                        Sân bay – KS hay KS – Sân bay<br>
                        (trước 6:00 sáng hay sau 11:00 tối)
                    </td>
                    <td style="text-align: center;">47</td>
                    <td style="text-align: center;">50</td>
                    <td style="text-align: center;">55</td>
                </tr>
                <tr>
                    <td>Tham quan Đà Nẵng – 8 giờ</td>
                    <td style="text-align: center;">43</td>
                    <td style="text-align: center;">46</td>
                    <td style="text-align: center;">48</td>
                </tr>
                <tr>
                    <td>Tham quan Đà Nẵng &amp; Hộii An – 08 giờ</td>
                    <td style="text-align: center;">54</td>
                    <td style="text-align: center;">57</td>
                    <td style="text-align: center;">60</td>
                </tr>
                <tr>
                    <td>Tham quan Huế – 08 giờ</td>
                    <td style="text-align: center;">54</td>
                    <td style="text-align: center;">57</td>
                    <td style="text-align: center;">60</td>
                </tr>
                <tr>
                    <td>Đà Nẵng – Hội An – Huế (2 ngày &amp; 1 đêm)</td>
                    <td style="text-align: center;">126</td>
                    <td style="text-align: center;">133</td>
                    <td style="text-align: center;">140</td>
                </tr>
                <tr>
                    <td>Đà Nẵng – Hội An – Huế (3 ngày &amp; 2 đêm)</td>
                    <td style="text-align: center;">144</td>
                    <td style="text-align: center;">152</td>
                    <td style="text-align: center;">160</td>
                </tr>
            </tbody>
        </table>
        <div style="text-align: justify; padding: 10px 0px;">
            <p>
                <strong><span style="color: #ff0000;font-weight:600;">Biểu giá xe tham khảo tại Hà Nội – Hạ Long và Ninh Bình: XE 4-16 CHỖ NGỒI </span></strong><br>
                <strong style="font-weight:400"><span style="color: #ff0000;">(Giá tạm tính bằng USD)</span></strong>
            </p>
        </div>
        <table style="width: 100%; text-align: left; margin-left: 0px; font-size: 14px; margin-right: 0px; border: 1px solid #808080; border-spacing: 1px; border-collapse: separate;" border="1" cellspacing="2" cellpadding="2">
            <tbody>
                <tr>
                    <td style="font-weight: bold; text-align: center;">
                        <strong>
                            <span style="line-height: 19px;">
                                <span style="color: #333333;">
                                    Hành trình<br>
                                </span>
                            </span>
                        </strong>
                    </td>
                    <td style="font-weight: bold; text-align: center;">
                        <strong>
                            <span style="color: #333333;">
                                <span style="line-height: 19px;">
                                    Xe 4 chỗ ngồi<br>
                                    Toyota / Ford
                                </span>
                            </span>
                        </strong>
                    </td>
                    <td style="font-weight: bold; text-align: center;"><strong><span style="color: #333333;"><span style="line-height: 19px;">Xe 7 chỗ ngồi Toyota</span></span></strong></td>
                    <td style="font-weight: bold; text-align: center;">
                        <span>
                            <span style="line-height: 19px;">
                                <span style="color: #333333;">
                                    <strong>Xe 15-16 chỗ ngồi</strong><br>
                                    <strong>Toyota / Mercede</strong>s
                                </span>
                            </span>
                        </span>
                    </td>
                </tr>
                
                <tr>
                    <td><span style="color: #333333;"><span style="line-height: 19px;">Sân bay – KS hay KS – Sân bay</span></span></td>
                    <td style="text-align: center;"><span style="color: #333333;"><span style="line-height: 19px;">48</span></span></td>
                    <td style="text-align: center;"><span style="color: #333333;"><span style="line-height: 19px;">52</span></span></td>
                    <td style="text-align: center;"><span style="color: #333333;"><span style="line-height: 19px;">59</span></span></td>
                </tr>
                <tr>
                    <td>
                        Sân bay – KS hay KS – Sân bay<br>
                        (trước 06:00 sáng hay sau 11:00 tối)
                    </td>
                    <td style="text-align: center;"><span style="color: #333333;"><span style="line-height: 19px;">58</span></span></td>
                    <td style="text-align: center;"><span style="color: #333333;"><span style="line-height: 19px;">62</span></span></td>
                    <td style="text-align: center;"><span style="color: #333333;"><span style="line-height: 19px;">69</span></span></td>
                </tr>
                <tr>
                    <td>Tham quan TP (04 giờ)</td>
                    <td style="text-align: center;"><span style="color: #333333;"><span style="line-height: 19px;">36</span></span></td>
                    <td style="text-align: center;"><span style="color: #333333;"><span style="line-height: 19px;">38</span></span></td>
                    <td style="text-align: center;"><span style="color: #333333;"><span style="line-height: 19px;">40</span></span></td>
                </tr>
                <tr>
                    <td>Tham quan TP – 08 giờ</td>
                    <td style="text-align: center;"><span style="color: #333333;"><span style="line-height: 19px;">54</span></span></td>
                    <td style="text-align: center;"><span style="color: #333333;"><span style="line-height: 19px;">57</span></span></td>
                    <td style="text-align: center;"><span style="color: #333333;"><span style="line-height: 19px;">60</span></span></td>
                </tr>
                <tr>
                    <td>Tham quan Hà Nội – Hạ Long cả ngày – 10 giờ</td>
                    <td style="text-align: center;"><span style="color: #333333;"><span style="line-height: 19px;">144</span></span></td>
                    <td style="text-align: center;"><span style="color: #333333;"><span style="line-height: 19px;">152</span></span></td>
                    <td style="text-align: center;"><span style="color: #333333;"><span style="line-height: 19px;">160</span></span></td>
                </tr>
                <tr>
                    <td>Tham quan Hà Nội – Ninh Bình cả ngày (10 giờ)</td>
                    <td style="text-align: center;"><span style="color: #333333;"><span style="line-height: 19px;">108</span></span></td>
                    <td style="text-align: center;"><span style="color: #333333;"><span style="line-height: 19px;">114</span></span></td>
                    <td style="text-align: center;"><span style="color: #333333;"><span style="line-height: 19px;">120</span></span></td>
                </tr>
            </tbody>
        </table>
        <!-- AddThis Advanced Settings above via filter on the_content --><!-- AddThis Advanced Settings below via filter on the_content --><!-- AddThis Advanced Settings generic via filter on the_content --><!-- AddThis Share Buttons above via filter on the_content --><!-- AddThis Share Buttons below via filter on the_content --><div class="at-below-post-page addthis_tool" data-url="https://viettours.com.vn/xe-van-chuyen/"></div><!-- AddThis Share Buttons generic via filter on the_content --><div style="clear:both;"></div>
    </div>

</aside>
<style>
   @* table {
        border:1px solid #808080;
        border-spacing: 1px;
        border-collapse: separate;
    }*@
    td {
        padding: 1px;
    }
</style>

